<html ng-app="app">
    <head>
        <title>MVVM</title>
        <base href="/">
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.7.8/angular.min.js"></script>
        <script src="js/ctrl.js"></script>
    </head>
    <body>
        <h1>Hello World</h1>
        <div ng-controller="ctrl" ng-init="init()">
            <ul>
                <li ng-repeat="person in people">{{person.name}}</li>
            </ul>
        </div>
    </body>
</html>